<div class="row">
  <div class="col-12">
       <div class="card">
          <div class="card-body">
            <h3 class=card-title>Barra de progreso</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow] = "porcentaje1"  aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 +'%'"></div>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow] = "porcentaje2"  aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 +'%'"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--cambioPregressBar es donde nos llega el event emitter (Lo que llego aqui por output), legend y porcentaje son valores que enviamos (Input)
  Por otra parte cambioProgressBar podria quedar asi: (cambioProgressBar) = cambiaProgressBar($event) y en el ts quedaria: cambiaProgressBar(event: number){this.porcentaje1 = event}-->
<div class="row">
    <div class="col-6">
         <div class="card">
            <div class="card-body">
              <app-incrementador (cambioProgressBar) = "porcentaje1 = $event "  legend="Progress azul" [porcentaje] = "porcentaje1"></app-incrementador>
            </div>
          </div>
      </div>
      <div class="col-6">
          <div class="card">
             <div class="card-body">
                <app-incrementador (cambioProgressBar) = "porcentaje2 = $event" legend="Progress verde" [porcentaje] = "porcentaje2"></app-incrementador>
             </div>
           </div>
       </div>
  </div>







