  <h3>{{legend}} {{porcentaje}}</h3>
  <div class=input-group>
    <span class=input-group-btn>
      <button class="btn btn-primary" type="button" (click)="changeValue(-5)"><i class="mdi mdi-minus"></i></button>
    </span>
    <input #inputPorcentaje  type="number" class="form-control" name="porcentaje" [(ngModel)] = "porcentaje" (ngModelChange)="onChanges($event)" min="0" max="100">
    <span class=input-group-btn>
      <button class="btn btn-primary" type="button" (click)="changeValue(+5)"><i class="mdi mdi-plus"></i></button>
    </span>
  </div>