<div class="row">

  <div class="col-6">
       <div class="card">
          <div class="card-body">
              <div style="display: block">
                <app-grafico-dona [dataDonut] = "graficos.grafico1"></app-grafico-dona>
                 
                </div>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
         <div class="card-body">
             <div style="display: block">
                <app-grafico-dona [dataDonut] = "graficos.grafico2"></app-grafico-dona>                
               </div>
         </div>
     </div>
 </div>
 <div class="col-6">
    <div class="card">
       <div class="card-body">
           <div style="display: block">
                <app-grafico-dona [dataDonut] = "graficos.grafico3"></app-grafico-dona>                  
             </div>
       </div>
   </div>
</div>
<div class="col-6">
    <div class="card">
       <div class="card-body">
           <div style="display: block">
                <app-grafico-dona [dataDonut] = "graficos.grafico4"></app-grafico-dona>                               
             </div>
       </div>
   </div>
</div>
</div>